@font-face {
    font-family: 'First Time Writing!';
    src: url('FirstTimeWriting.woff2') format('woff2'),
        url('FirstTimeWriting.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'First Time Writing!';
    src: url('FirstTimeWriting.woff2') format('woff2'),
        url('FirstTimeWriting.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

